@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

@media (max-width: 425px) {
  html {
    font-size: 8px;
  }
}

body {
  font-size: 1.5rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.tutorials {
  width: 75%;
  margin: auto;
}

.tutorial_1 {
  padding-top: 50px;
}

.tutorial-card {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
  width: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.tutorial-card_content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.tutorial-card_content p {
  font-size: 1.8rem;
  text-align: center;
}

.tutorial-card_content a {
  font-size: 1.8rem;
  text-align: center;
}

.tutorial-card_content button {
  font-size: 1.8rem;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #97bf0f;
  color: white;
}

.tutorial-card_content button:hover {
  background-color: #7f9f0f;
}
